td
{
   font-size: 14px;
}

/* Download CSV File button styling */
a.btn-lg
{
   font-size: 1.25em;
   font-weight: bold;

}

/* Navigation tabs styling */
.nav-tabs > li > a:hover {
   background-color: #CCCCCC;
   color: #000000;
   border-color: #999999 #999999 #dddddd;
}

.nav-tabs
{
   border-bottom: 2px solid #dddddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
   border-color: #ccc #ccc;
   border-width: 2px;
   border-bottom-style: none;
}

/* make the display the full width */
div#outer
{
   width: 50%;
}


/* display elapsed time at the bottom of the page */
div#elapsedTime
{
   background-color: #E5E5E5;
   text-align: center;
   padding: 10px;
   border-radius: 5px;
}

#pagecontainer
{
   max-width: 80%;

}

#deleted
{
   color: red;
}

#archived
{
   color: darkgrey;
}

#suspended
{
   color: red;
   font-size: 10px;
}

.dropdown-menu
{
   width: 250px;
   padding: 10px;
}

.download
{
   width: 175px;
   text-align: center;
}

.hide-in-table
{
   display: none;
}